<h1>Euro 2012</h1>
<br>

<p> Poland and Ukraine</p>
<br>

<div class="groups" >
<hl> Group A: 
Poland
Greece
Russia
Czech Republic
</hl>

<br>

<hl> Group B:
<ul>
<li>Holland</li>
<li>Germany</li>
<li>Portugal</li>
<li>Denmark</li>
</ul>
</hl>
<br>

<hl> Group C:
Spain
Italy
Croatia
Republic of Ireland
</hl>
<br>

<hl> Group D:			
France
England
Ukraine
Sweden</hl>
<br>
</div>

<p> Spain 9/4</p>
<p> Germany 4/1</p>
<p> Holland 7/1</p>
<p> England 12/1</p>
