<h1>Core Networks</h1>
<p>My first 6 months at o2 were spent in the Core Networks area. I spent the time moving around several different teams learning about how the o2 network works. It was a real eye opener as I'd never worked in this sort of industry before. I was amazed at how much went on just so that we can make phone calls and send text messages. I enjoyed the placement, it was something different almost every day and I was given plenty of opportunities to learn new skills. </p>
