<h1>The Lab</h1>
<p>My latest placement is in The Lab, it has only been a short period so far but I'm enjoying it. My objectives are to understand how The Lab works, gain a good knowledge of coding and attempt making my own website and also to use my learning of Spanish to have a conversation with some of the Spanish guys in the team. I'm looking forward to the rest of my time here.</p>
