/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/*COLOURS:*/
/*#1047AA*/
/*#4577D4
#6B90D4
#052A6E*/


body{ 
  background-color: #1047AA; 
  text-align: center;
  height: 100%;
} 


header{
  margin: 0,auto;
  height: 100%;

}

header a{
	color: black;
}

header a:hover{
  background-color: blue;
  color: white;
}


h1{
  text-align: left;
}


a {
	text-decoration: none;
	color: white;
}

a:hover{
	background-color: #4577D4;
}

p{
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
.nav {
  background-color: #052A6E;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  text-align: left;
}

.nav ul{
  list-style-type: none; 
}

.nav li{
  display:inline;
  padding: 0, auto;
  margin:20px;
}


.page{
	background: #6B90D4;
	height: 400px;
	min-height: 100%;
	display:block;
	margin: 0 auto;
	width: 80%;
	border-radius: 5px;
}

.page h1{
  padding-left: 5%;
}

